<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink=""><img src="../../../assets/images/revature-logo.png"
                                                 style="height: 2.5em; padding: .5em;" alt="Revature logo"></a>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-center">
    <li class="nav-item"  *ngIf="loggedInUser">
      <a class="nav-link" routerLink="search">Search</a>
    </li>
  </ul>
  <ul class="navbar-nav navbar-right" id="nav-right">
    <li class="nav-item"  *ngIf="loggedInUser">
      <a class="nav-link" routerLink="profile">Profile</a>
    </li>
    <li class="nav-item"  *ngIf="loggedInUser">
      <a class="nav-link clickable" (click)="logout()">Logout</a>
    </li>
  </ul>

</nav>
