


<body>
    <button class="toggle" (click)="switchTheme()">
        {{ theme === "light-theme" ? "Switch to dark" : "Switch to light" }}
      </button>
<div class="box">
    <h1 class="header">Header Text</h1>
    <p class="paragraph">
        The FitnessGram™ Pacer Test is a multistage aerobic capacity test that progressively gets more difficult as it continues. 
        The 20 meter pacer test will begin in 30 seconds. Line up at the start. 
        The running speed starts slowly, but gets faster each minute after you hear this signal. 
        [beep] A single lap should be completed each time you hear this sound. 
        [ding] Remember to run in a straight line, and run as long as possible. 
        The second time you fail to complete a lap before the sound, your test is over. 
        The test will begin on the word start. On your mark, get ready, start.
    </p>
  </div>
  
  <div class="box">
    <h1 class="header">Header Text</h1>
    <p class="paragraph">
        To be fair, you have to have a very high IQ to understand Rick and Morty. 
        The humour is extremely subtle, and without a solid grasp of theoretical physics most of the jokes will go over a typical viewer’s head. 
        There’s also Rick’s nihilistic outlook, which is deftly woven into his characterisation- his personal philosophy draws heavily from Narodnaya Volya literature, for instance. 
        The fans understand this stuff; they have the intellectual capacity to truly appreciate the depths of these jokes, to realise that they’re not just funny—they say something deep about LIFE. 
        As a consequence people who dislike Rick & Morty truly ARE idiots- of course they wouldn’t appreciate, for instance, the humour in Rick’s existential catchphrase “Wubba Lubba Dub Dub,” which itself is a cryptic reference to Turgenev’s Russian epic Fathers and Sons. 
        I’m smirking right now just imagining one of those addlepated simpletons scratching their heads in confusion as Dan Harmon’s genius wit unfolds itself on their television screens.
    </p>
  </div>
  
  <div class="box">
    <h1 class="header">Header Text</h1>
    <p class="paragraph">
        Dude I own this NFT. Do you really think you can get away with theft when you’re showing what you stole directly to my face. 
        My lawyers will make an easy job of this case. Prepare to say goodbye to your luscious life and start preparing for the streets. 
        I will ruin you.
    </p>
  </div>
</body>
