<h1>Current User List</h1>




<div *ngIf="user">

    <h2>{{user.name | uppercase}} Details</h2>
    <div><span>id: </span>{{user.id}}</div>
    <div>
      <label for="user-name">Username: </label>
      <input id="user-name" [(ngModel)]="user.name" placeholder="name">
    </div>
  
  </div>


<ul class="users">
  <li *ngFor="let User of user">
    <button [class.selected]="User === selectedUser" type="button" (click)="onSelect(User)">
      <span class="UserId">{{User.id}}</span>
      <span class="username">{{User.name}}</span>
    </button>
  </li>
</ul>

<app-get-users [User]="selectedUser"></app-get-users>
