

<pre>



</pre>
<div class="container">
<h1>Sign Up</h1>
<form #login="ngForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="username">Username</label><br>
        <input #name = "ngModel" required type="text" name="username" class="form-control" ngModel>
        <div *ngIf = "name.touched && name.invalid" class="alert alert-danger">INVALID</div>
    </div>
    <pre></pre>
    <div class="form-group">
        <label for="password">Password</label><br>
        <input  type="password" name="password" class="form-control" ngModel>
    </div>
    <pre></pre>
    <button class="btn btn-primary" type="submit">Sign Up</button>

</form>

</div>